<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center mt-5">エリア検索</h1>
    <%= form_with url: '/areas/search', method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label "郵便番号で検索" %>
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
      <%= f.submit "検索", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>